.button {
  display: inline-flex;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
}

.button--secondary {
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  min-height: 40px;
  width: 100%;
  color: #444444;
  border-color: #f2f2f2;
  box-sizing: border-box;
  padding: 10px;
  border-width: 0;
}

.button--secondary:hover {
  background-color: #ebebeb;
}

.button--secondary:active {
  background-color: #ebebeb;
  color: rgba(68, 68, 68, 0.3);
}

.button--more:active {
  color: rgba(0, 0, 0, 0.3);
}

@media (min-width: $tabletWidth) {
  .button {
    font-size: 20px;
  }
}
