@use "main/variables" as *;

.navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navigation__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateY(-100%);
  z-index: 1;
  transition: all 0.3s ease;
}

.navigation__wrapper.navigation__wrapper--active {
  transform: translateY(0);
  top: 67px;
}

.main-header--nojs .navigation__wrapper {
  position: static;
  transform: translateY(0);
}

@media (min-width: 768px) {
  .navigation__wrapper {
    transform: translateY(0);
    position: static;
  }
}

.navigation__list {
  margin: 0;
  background-color: #ffffff;
}

@media (min-width: 768px) {
  .navigation__list {
    display: flex;
    gap: 36px;
    background-color: transparent;
  }
}

.navigation__item {
  border-bottom: 1px solid #e6e6e6;
}

@media (min-width: 768px) {
  .navigation__item {
    border-bottom: none;
  }
}

@media (max-width: 767px) {
  .main-header--nojs .navigation__item:last-child {
    border-bottom: none;
  }
}

.navigation__link {
  font: 500 20px/1"Oswald", "Arial", sans-serif;
  color: #000000;
  display: block;
  text-align: center;
  padding-top: 22px;
  padding-bottom: 24px;
  text-transform: uppercase;
  transition: opacity 0.3s ease-in-out;
}

.navigation__link:hover {
  opacity: 0.6;
}

.academy:active .academy__caption,
.navigation__link:active {
  opacity: 0.3;
}

.navigation__link--current {
  pointer-events: none;
}

@media (min-width: 768px) {
  .navigation__link {
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 11px;
    font-weight: 400;
  }

  .navigation__link--current {
    border-bottom: 2px solid #68b738;
  }
}

@media (min-width: 1440px) {
  .navigation__link {
    font-size: 20px;
    line-height: 30px;
    padding-top: 12px;
    padding-bottom: 6px;
  }

  .main-header--main .navigation__link {
    color: #ffffff;
  }

  .navigation__link--current {
    border-color: #68b738;
  }

  .main-header--main .navigation__link--current {
    border-color: #ffffff;
  }
}

.navigation__button {
  padding: 0;
  border: 0;
  width: 24px;
  height: 16px;
  cursor: pointer;
  background-color: unset;
}

.main-header--nojs .navigation__button {
  display: none;
}

@media (min-width: 768px) {
  .navigation__button {
    display: none;
  }
}

.navigation__toggle {
  display: block;
  width: 24px;
  height: 1.5px;
  background-color: #000000;
  position: relative;
  transition: background-color 0.3s ease;
  padding: 0;
  border-width: 0;
}

.navigation__toggle::after,
.navigation__toggle::before {
  content: "";
  width: 24px;
  height: 1.5px;
  background-color: #000000;
  position: absolute;
  transform: rotate(0);
  left: 0;
  transition: transform 0.3s ease;
}

.navigation__toggle::before {
  top: -8px;
}

.navigation__toggle::after {
  bottom: -8px;
}

.navigation__toggle.navigation__toggle--active {
  background-color: transparent;
}

.navigation__toggle.navigation__toggle--active::before {
  top: 0;
  transform: rotate(45deg);
}

.navigation__toggle.navigation__toggle--active::after {
  top: 0;
  transform: rotate(135deg);
}
