@use "main/variables" as*;

.contacts__map {
  background: url("../../img/index/rectangle-mob.png") center center no-repeat;
  height: 362px;
  width: 100%;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 57px;
    height: 53px;
    background: url("../../img/index/map-pin.png") center center no-repeat;
    top: 46%;
    left: 51%;
    transform: translate(-50%, -50%);
    background-size: 57px;
  }

  @media (min-resolution: 2dppx) {
    background: url("../../img/index/rectangle-mob@2x.png") center center no-repeat;
    background-size: 320px auto;

    &::before {
      background: url("../../img/index/map-pin@2x.png") center center no-repeat;
      background-size: 57px;
    }
  }

  @media (min-width: $tabletWidth) {
    background: url("../../img/index/rectangle-tab.png") center center no-repeat;
    height: 400px;

    &::before {
      width: 113px;
      height: 106px;
      background-size: 113px 106px;
      top: 50%;
      left: 50.6%;
    }

    @media (min-resolution: 2dppx) {
      background: url("../../img/index/rectangle-tab@2x.png") center center no-repeat;
      background-size: $tabletWidth auto;

      &::before {
        background-size: 113px 106px;
      }
    }
  }

  @media (min-width: $desktopWidth) {
    background: url("../../img/index/rectangle-desk.png") center center no-repeat;

    &::before {
      top: 46%;
      left: 67%;
    }

    @media (min-resolution: 2dppx) {
      background: url("../../img/index/rectangle-desk@2x.png") center center no-repeat;
      background-size: $desktopWidth auto;
    }
  }
}

.contacts__iframe {
  display: block;
  border: none;
  width: 100%;

  @media (min-width: $tabletWidth) {
    height: 400px;
  }
}
