@use "main/variables" as*;

.map {
  height: 362px;
  position: relative;
}

.map::before {
  position: absolute;
  content: "";
  background: url("../img/content/map-pin.png") no-repeat center center/contain;
  width: 57px;
  height: 53px;
  z-index: 2;
  top: 0;
  left: 11px;
  bottom: 0;
  right: 0;
  margin: auto;
}
