.catalog {
  padding-top: 27px;
}

@media (min-width: $tabletWidth) {
  .catalog {
    padding-top: 60px;
  }
}

@media (min-width: $desktopWidth) {
  .catalog {
    padding-top: 73px;
  }
}

.catalog__title {
  margin-bottom: 41px;
  margin-top: 0;
}

@media (min-width: $tabletWidth) {
  .catalog__title {
    margin-bottom: 0;
  }
}

@media (min-width: $desktopWidth) {
  .catalog__title {
    margin-left: auto;
    margin-right: auto;
  }
}

.catalog__list {
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  margin: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

@media (min-width: $tabletWidth) {
  .catalog__list {
    max-width: 708px;
    margin: 0 auto;
  }
}

@media (min-width: $desktopWidth) {
  .catalog__list {
    max-width: 1220px;
  }
}

@media (min-width: $tabletWidth) {
  .catalog__list {
    flex-direction: row;
    flex-wrap: wrap;
    border-top: none;
    border-bottom: none;
    gap: 142px 60px;
    padding-top: 165px;
    padding-bottom: 0;
  }
}

@media (min-width: $desktopWidth) {
  .catalog__list {
    justify-content: space-between;
  }
}

@media (max-width: 767px) {
  .catalog__item:not(:last-child) {
    border-bottom: 1px solid #ebebeb;
  }
}

@media (min-width: $tabletWidth) {
  .catalog__item {
    min-height: 430px;
    max-width: 324px;
    padding: 39px;
    box-sizing: border-box;
    flex-grow: 1;
  }

  .catalog__item:not(:last-child) {
    border-bottom: none;
    background-color: #f2f2f2;
  }

  .catalog__item--bordered {
    border: 1px solid #ebebeb;
    box-sizing: border-box;
  }
}

@media (min-width: $desktopWidth) {
  .catalog__item {
    max-width: 245px;
    min-width: auto;
    width: 100%;
  }
}

.catalog__more {
  padding: 25px 20px;
}

@media (min-width: $tabletWidth) {
  .catalog__more {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
  }
}
