.gift {
  padding-top: 58px;
  padding-bottom: 43px;
  background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/catalog/catalog-image-m.png") no-repeat center center/cover;
  display: flex;
}

@media (min-resolution: 2dppx) {
  .gift {
    background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/catalog/catalog-image-m.png") no-repeat center center/cover;
  }
}

@media (min-width: $tabletWidth) {
  .gift {
    padding: 71px 124px 69px 78px;
    justify-content: space-between;
  }
}

@media (min-width: $desktopWidth) {
  .gift {
    padding: 55px 43px 40px;
    justify-content: center;
  }
}

.gift__text {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  position: relative;
  padding-top: 128px;
  max-width: 160px;
  margin: 0 auto;
}

.gift__text::before {
  position: absolute;
  content: "";
  background: url("../img/catalog/icon-gift.svg");
  width: 78px;
  height: 80px;
  top: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
}

@media (min-width: $tabletWidth) {
  .gift__text {
    text-align: left;
    padding-top: 0;
    padding-left: 345px;
    margin: 0;
  }

  .gift__text::before {
    left: 0;
    top: -12px;
    margin: auto 0;
  }
}

@media (min-width: $desktopWidth) {
  .gift__text {
    text-align: center;
    padding-top: 135px;
    padding-left: 0;
    margin: 0;
  }

  .gift__text::before {
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
  }
}
