.product-card__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 12px 20px 17px;
}

@media (min-width: $tabletWidth) {
  .product-card__wrapper {
    flex-direction: column;
    height: 100%;
    flex-wrap: initial;
    padding: 0;
    align-items: stretch;
    position: relative;
    justify-content: flex-end;
  }
}

.product-card__title {
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 14px 0;
  color: #222222;
  text-transform: uppercase;
  max-width: 80px;
}

@media (min-width: $tabletWidth) {
  .product-card__title {
    font-size: 20px;
    line-height: 24px;
    max-width: 154px;
    text-align: center;
    margin: 0 auto 14px;
  }
}

@media (min-width: $desktopWidth) {
  .product-card__title {
    line-height: 21px;
    margin-bottom: 19px;
  }
}

.product-card__param {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

@media (min-width: $tabletWidth) {
  .product-card__param {
    border-bottom: 1px solid #cdcdcd;
    align-items: flex-end;
    padding-top: 7px;
    padding-bottom: 8px;
  }
}

@media (min-width: $desktopWidth) {
  .product-card__param {
    padding-top: 6px;
    padding-bottom: 9px;
  }
}

.product-card__param-text {
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

@media (min-width: $tabletWidth) {
  .product-card__param-text {
    font-size: 16px;
    line-height: 16px;
  }
}

@media (max-width: 767px) {
  .product-card__image-link,
  .product-card__description {
    flex-basis: 50%;
  }
}

@media (max-width: 767px) {
  .product-card__image-link {
    margin-top: 5px;
  }
}

.product-card__image {
  display: block;
  margin: auto;
}

@media (min-width: $tabletWidth) {
  .product-card__image {
    position: absolute;
    top: -86px;
    left: 0;
    right: 0;
    width: 163px;
    height: 174px;
  }

  .product-card__image--large {
    width: 168px;
    height: 200px;
    top: -110px;
  }
}

@media (min-width: $desktopWidth) {
  .product-card__image {
    top: -93px;
  }

  .product-card__image--large {
    top: -122px;
  }
}

.product-card__button {
  margin-top: 14px;
  margin-bottom: 8px;
  min-height: 40px;
  font-size: 16px;
  line-height: 20px;
}

@media (min-width: $tabletWidth) {
  .product-card__button {
    margin-top: 33px;
    margin-bottom: 0;
  }
}

.product-card__more-title {
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-align: center;
  text-transform: uppercase;
  margin-top: 23px;
  margin-bottom: 8px;
}

@media (min-width: $tabletWidth) {
  .product-card__more-title {
    font-size: 20px;
    line-height: 22px;
    max-width: 142px;
    margin: 0 auto 23px;
  }
}

.product-card__more-text {
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
}

@media (min-width: $tabletWidth) {
  .product-card__more-text {
    font-size: 16px;
    line-height: 18px;
    max-width: 174px;
    margin: 0 auto 87px;
  }
}

.product-card__more-button {
  font-size: 16px;
  line-height: 20px;
}
