@use "variables" as *;

.program__button-icon {}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  font-family: $primary-font-family;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  color: $secondary-color;
  text-transform: uppercase;
  text-decoration: none;
  background: $primary-color;
  border: none;
  outline: none;

  &:hover {
    background: $green-light;
    cursor: pointer;
  }

  &:active {
    color: rgba($secondary-color, 0.3);
  }

  &--second {
    background: $secondary-bg-color;
    color: $secondary-text-color;

    &:hover {
      background: $grey-lighter;
      color: rgba($secondary-text-color, 0.3);
    }
  }
}


.program__button {}

.button {}

.program__button-text {}
