@use "main/variables" as*;
@use "main/base";
@use "main/button";
@use "main/fonts";
@use "main/header";
@use "main/map";
@use "main/page-footer";
@use "main/text";
@use "main/main-nav";
@use "index/slider";
@use "index/example";
@use "index/first-screen";
@use "index/programs";
@use "index/special";
@use "catalog/catalog";
@use "form/form";
