$primary-text-color: #000000;
$secondary-text-color: #444444;

$primary-font-family: oswald, arial, sans-serif;
$secondary-font-family: lato, arial, sans-serif;

$primary-color: #68b738;
$secondary-color: #ffffff;

$primary-bg-color: #ffffff;
$secondary-bg-color: #f2f2f2;
$special-bg-color: #eaeaea;

$primary-border-input: #e7e7e7;

$color-line-nav: #e6e6e6;
$color-line-block: #cdcdcd;

$green-light: #5eaa2f;

$grey-lighter: #ebebeb;
$grey-light: #d9d9d9;
$grey-dark: #222222;

$status-error: #ff8282;
