.example__wrapper {
  display: flex;
  flex-direction: column;
}

@media (min-width: $desktopWidth) {
  .example__wrapper {
    flex-direction: row;
    gap: 224px;
  }
}

.example__numbers {
  margin-bottom: 20px;
}

@media (min-width: $tabletWidth) {
  .example__numbers {
    margin-bottom: 99px;
  }
}

@media (min-width: $desktopWidth) {
  .example__numbers {
    margin-bottom: 0;
  }
}

.example__title {
  margin: 0 0 43px 0;
}

@media (min-width: $tabletWidth) {
  .example__title {
    margin-bottom: 63px;
  }
}

@media (min-width: $desktopWidth) {
  .example__title {
    margin-bottom: 148px;
  }
}

.example__text {
  margin-top: 0;
  margin-bottom: 20px;
}

@media (min-width: $tabletWidth) {
  .example__text {
    margin-bottom: 54px;
  }
}

@media (min-width: $desktopWidth) {
  .example__text {
    margin-bottom: 66px;
  }
}

.example__slider {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  justify-content: center;
  position: relative;

  @media (min-width: $tabletWidth) {
    grid-template-columns: repeat(2, 280px);
    flex-basis: 100%;
  }

  @media (min-width: $desktopWidth) {
    grid-column: 2;
    grid-row: 1 / -1;
    margin-top: 2px;
  }
}

.example__line {
  position: absolute;
  height: 100%;
  width: 4px;
  top: 50%;
  left: 49.3%;
  transform: translate(0, -50%);
  background-color: #666666;
  cursor: pointer;
  z-index: 1;

  @media (min-width: $tabletWidth) {
    left: 49.9%;
  }
}

.example__line:hover {
  background-color: #68b738;
}

.example__line:active {
  opacity: 0.6;
}

.example__thumb {
  position: absolute;
  background-image: url("../../img/slider/thumb.svg");
  background-color: #ffffff;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

//.example__thumb {
//  background-image: url("../../img/slider/thumb.svg");
//}

.example__image {
  display: block;
  object-fit: cover;
  width: 140px;
  height: 256px;

  @media (min-width: $tabletWidth) {
    width: 280px;
    height: 512px;
  }
}

.example__image--left {
  object-position: left;
}

.example__image--right {
  object-position: right;
}

.example {
  background-color: #eaeaea;
  padding-top: 26px;
  padding-bottom: 40px;
}

@media (min-width: $tabletWidth) {
  .example {
    background: linear-gradient(to top, #eaeaea 458px, #ffffff 458px 100%);
    border-top: 1px solid #e6e6e6;
    padding-top: 43px;
    padding-bottom: 104px;
  }
}

@media (min-width: $desktopWidth) {
  .example {
    background: linear-gradient(to top, #eaeaea 462px, #ffffff 462px 100%);
    border-top: none;
    padding-top: 20px;
    padding-bottom: 75px;
  }
}
