.programs {
  padding-bottom: 20px;
}

@media (min-width: $tabletWidth) {
  .programs {
    padding-bottom: 48px;
  }
}

@media (min-width: $desktopWidth) {
  .programs {
    padding-bottom: 73px;
  }
}

.programs__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 19px;
  margin: 0;
}

@media (min-width: $tabletWidth) {
  .programs__list {
    gap: 30px;
  }
}

@media (min-width: $desktopWidth) {
  .programs__list {
    flex-direction: row;
    gap: 80px 60px;
  }
}

.programs__item {
  background-color: #f2f2f2;
  padding: 29px 19px 22px;
}

@media (min-width: $tabletWidth) {
  .programs__item {
    padding: 77px 62px 59px 53px;
    max-width: 594px;
  }
}

@media (min-width: $desktopWidth) {
  .programs__item {
    padding: 41px 61px 62px 55px;
  }
}

.programs__wrapper {
  margin-bottom: 20px;
}
