@use "main/variables" as*;

.example__slider {
  min-width: 280px;

  @media (min-width: 768px) {
    min-width: 560px;
  }
}

.slider-wrapper {
  width: 280px;
  height: 256px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;

  @media (min-width: 768px) {
    width: 560px;
    height: 512px;
  }
}
