.special {
  padding-bottom: 50px;
}

@media (min-width: $tabletWidth) {
  .special {
    padding-bottom: 103px;
  }
}

.special__list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  gap: 20px;
  counter-reset: items 0;
}

@media (min-width: $tabletWidth) {
  .special__list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 135px 138px;
  }
}

@media (min-width: $desktopWidth) {
  .special__list {
    gap: 94px;
  }
}

.special__item {
  position: relative;
  padding-left: 80px;
  display: flex;
  align-items: center;
  min-height: 60px;
  counter-increment: items 1;
}

.special__item::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 60px;
  background-color: #68b738;
  left: 0;
}

.special__item::after {
  position: absolute;
  content: "";
  align-self: center;
  top: 0;
  left: 12px;
  right: 0;
  bottom: 0;
  margin: auto 0;
}

.special__item--icon-leaf::after {
  background: url("../img/content/Leaf.png") no-repeat center center;
  width: 38px;
  height: 40px;
}

.special__item--icon-water::after {
  background: url("../img/content/Water.png") no-repeat center center;
  width: 33px;
  height: 36px;
}

.special__item--icon-food::after {
  background: url("../img/content/Food.png") no-repeat center center;
  width: 31px;
  height: 38px;
}

.special__item--icon-time::after {
  background: url("../img/content/Time.png") no-repeat center center;
  width: 33px;
  height: 38px;
}

@media (min-width: $tabletWidth) {
  .special__item {
    flex-basis: 246px;
    padding-left: 0;
    padding-top: 111px;
  }

  .special__item::before {
    width: 80px;
    height: 80px;
    top: -1px;
    left: 1px;
  }

  .special__item::after {
    top: -56%;
    left: -67%;
    margin: auto;
  }
}

@media (min-width: $desktopWidth) {
  .special__item {
    flex-basis: 230px;
  }
}

.special__text {
  margin: 0;

  @media (min-width: $tabletWidth) {
    position: relative;
    max-width: 244px;

    &::before {
      position: absolute;
      content: counter(items);
      font: 400 280px/1 $oswald-font;
      color: $additional-background;
      right: -3px;
      bottom: -57px;
      z-index: -1;
    }

    &--first {
      &::before {
        right: 18px;
      }
    }
  }

  @media (min-width: $desktopWidth) {
    line-height: 24px;

    &::before {
      right: -23px;
      bottom: -58px;
    }

    &--first {
      &::before {
        right: 0;
      }
    }
  }
}

.special__title {
  margin: 0 0 40px 0;
}

@media (min-width: $tabletWidth) {
  .special__title {
    margin-bottom: 72px;
  }
}
